.about-us{
    padding: 50px ;
    background: white;  
    justify-content: center;
    text-align: center;
           
}

.about-description{
    justify-content: center;
    align-items: center;
    text-align: center;
    
}